@page
@model Assignment1Attempt4.Areas.Identity.Pages.AssignmentPages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_ProfLayout.cshtml";
}

<h1>Create</h1>

<h4>Assignments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Assignments.AssignmentName" class="control-label"></label>
                <input asp-for="Assignments.AssignmentName" class="form-control" />
                <span asp-validation-for="Assignments.AssignmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignments.Description" class="control-label"></label>
                <input asp-for="Assignments.Description" class="form-control" />
                <span asp-validation-for="Assignments.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignments.MaxPoints" class="control-label"></label>
                <input asp-for="Assignments.MaxPoints" class="form-control" />
                <span asp-validation-for="Assignments.MaxPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignments.DueDate" class="control-label"></label>
                <input asp-for="Assignments.DueDate" class="form-control" />
                <span asp-validation-for="Assignments.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "File Input",
                        Value = "FileInput"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Text",
                        Value = "Text"
                    });
                }

                <label asp-for="Assignments.AssignmentType" class="control-label"></label>
                @Html.DropDownListFor(model => model.Assignments.AssignmentType, listItems, "", new { htmlAttributes = new { @class = "form-control", } })
                <span asp-validation-for="Assignments.AssignmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ProfClassPage" asp-route-id="@ViewData["ClassID"]">Go back to Class Page</a>
</div>

