@page
@model Assignment1Attempt4.Areas.Identity.Pages.Student.StudentHomeModel
@{
    ViewData["Title"] = "StudentHome";
}

<div class="text-center">
    <h1 class="display-4">You are a student!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
        <li><a href="https://localhost:7177/Identity/Student/RegisterForClass" target="_blank">Register for Classes here</a></li>
    </ul>
</div>
