@page
@model Assignment1Attempt4.Areas.Identity.Pages.Student.StudentHomeModel
@{
    ViewData["Title"] = "StudentHome";
    <!--  _Layout.cshtml used a few css sheets including bootstrap -->
}
<!--  This stylesheet is what gives the icons for the nav -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--  This class is for testing CSS for StudentCards.cshtml -->
<!--  Once it's perfected, the CSS will be moved to StudentCards.cshtml -->
<!--  And this class will be deleted. Happy programming :) -->
<link rel="stylesheet" href="~/css/StudentCards.css"/>

<nav class="sidebar">
    <a href="https://localhost:7177/Identity/Account/Manage" target="_blank"><i class="fa fa-fw fa-gear"></i> Manage Account</a>
    <a href="https://localhost:7177/Identity/Calendar/Calendar" target="_blank"><i class="fa fa-fw fa-calendar"></i> Calendar</a>
    <a href="https://localhost:7177/Identity/ProfileTestPage/Profile" target="_blank"><i class="fa fa-fw fa-user-circle-o"></i> Profile Homepage</a>
    <a href="https://localhost:7177/Identity/Student/RegisterForClass" target="_blank"><i class="fa fa-fw fa fa-id-card-o"></i> Register For Classess</a>
    <a href="https://localhost:7177/Identity/UploadPage/Upload" target="_blank"><i class="fa fa-fw fa-upload"></i> Upload Page</a>
</nav>

<h3 class="card-title">
    StudentHome, this is Xavier's CSS Playground Booooiiiiiisssss
</h3>

<div class="prof-dashboard-card text-center">
    @foreach (var item in Model.Classes)
    {
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Class: @Html.DisplayFor(modelItem => item.ClassName)
                </h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Class Location: @Html.DisplayFor(modelItem => item.Location)
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Class Time: @Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)
                </h6>
            </div>
        </div>
    }
</div>

<div>
    <div align="left">
        <h4>User Management</h4>
        <ul>
            <li><a href="https://localhost:7177/Identity/UserManagement/UserInfoEdit" target="_blank">User Account Management Details - Needs c# to be functional</a></li>
        </ul>
    </div>
</div>