################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs*
/.vs/VSWorkspaceState.json
/Assignment1Attempt4/.vs/ProjectGoGetters/FileContentIndex
/Assignment1Attempt4/.vs/ProjectGoGetters/v17
