################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs*
/Assignment1Attempt4/.vs*
/.vs/slnx.sqlite
/.vs/BigGoGetters/v17/.wsuo
/.vs/VSWorkspaceState.json
/Assignment1Attempt4/.vs/ProjectEvaluation/projectgogetters.metadata.v7.bin
/Assignment1Attempt4/.vs/ProjectGoGetters/DesignTimeBuild/.dtbcache.v2
/Assignment1Attempt4/.vs/ProjectEvaluation/projectgogetters.projects.v7.bin
/Assignment1Attempt4/Assignment1Attempt4/bin/Debug/net7.0/Assignment1Attempt4.dll
/Assignment1Attempt4/Assignment1Attempt4/bin/Debug/net7.0/Assignment1Attempt4.pdb
/Assignment1Attempt4/.vs/ProjectGoGetters/v17/.futdcache.v2
/Assignment1Attempt4/.vs/ProjectGoGetters/v17/.suo
/Assignment1Attempt4/Assignment1Attempt4/bin/Debug/net7.0/Assignment1Attempt4.exe
/Assignment1Attempt4/Assignment1Attempt4/bin/Debug/net7.0/Assignment1Attempt4.staticwebassets.runtime.json
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/staticwebassets/msbuild.Assignment1Attempt4.Microsoft.AspNetCore.StaticWebAssets.props
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/Assignment1Attempt4.csproj.AssemblyReference.cache
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/Assignment1Attempt4.assets.cache
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/apphost.exe
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/Assignment1Attempt4.dll
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/Assignment1Attempt4.csproj.CoreCompileInputs.cache
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/Assignment1Attempt4.csproj.FileListAbsolute.txt
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/Assignment1Attempt4.GeneratedMSBuildEditorConfig.editorconfig
/Assignment1Attempt4/Assignment1Attempt4/obj/Assignment1Attempt4.csproj.nuget.g.props
/Assignment1Attempt4/Assignment1Attempt4/obj/Assignment1Attempt4.csproj.nuget.dgspec.json
/Assignment1Attempt4/Assignment1Attempt4/obj/Release/net7.0/Assignment1Attempt4.assets.cache
/Assignment1Attempt4/Assignment1Attempt4/obj/Release/net7.0/Assignment1Attempt4.csproj.AssemblyReference.cache
/Assignment1Attempt4/Assignment1Attempt4/obj/Release/net7.0/Assignment1Attempt4.GeneratedMSBuildEditorConfig.editorconfig
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/Assignment1Attempt4.genruntimeconfig.cache
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/Assignment1Attempt4.pdb
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/staticwebassets.build.json
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/staticwebassets.development.json
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/staticwebassets.pack.json
/Assignment1Attempt4/Assignment1Attempt4/obj/Debug/net7.0/project.razor.vs.json
/.vs/BigGoGetters/FileContentIndex/43a37018-42b8-452f-8118-ad37d9790d95.vsidx
/Assignment1Attempt4/Assignment1Attempt4/obj/project.assets.json
/Assignment1Attempt4/Assignment1Attempt4/obj/project.nuget.cache
