@page
@model Assignment1Attempt4.Areas.Identity.Pages.Calendar.CalendarModel
@{
    ViewData["Title"] = "Calendar";
    Layout = "/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
</head>
<body>
    <div id='calendar'></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: @Html.Raw(Json.Serialize(Model.Events)),
                eventClick: function (info) {
                    var event = info.event;
                    var alertMessage = 'Event: ' + event.title + '\n' +
                        'Department: ' + event.extendedProps.department + '\n' +
                        'Location: ' + event.extendedProps.location + '\n' +
                        'PFName: ' + event.extendedProps.pfName + '\n' +
                        'PLName: ' + event.extendedProps.plName + '\n' +
                        'Monday: ' + event.extendedProps.monday + '\n' +
                        'Tuesday: ' + event.extendedProps.tuesday + '\n' +
                        'Wednesday: ' + event.extendedProps.wednesday + '\n' +
                        'Thursday: ' + event.extendedProps.thursday + '\n' +
                        'Friday: ' + event.extendedProps.friday;

                    alert(alertMessage);
                }
            });
            calendar.render();
        });
    </script>
</body>
</html>
