@page
@model Assignment1Attempt4.Areas.Identity.Pages.CardPage.CardsModel
@{
    ViewData["Title"] = "Cards";
	Layout = "/Views/Shared/_Layout.cshtml";    
}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">CS 3350</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Software Engineering 2</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Building: NB 234</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Time: 11:30 AM - 1:20 PM</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">CS 3350</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Software Engineering 2</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Building: NB 234</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Time: 11:30 AM - 1:20 PM</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">CS 3350</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Software Engineering 2</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Building: NB 234</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Time: 11:30 AM - 1:20 PM</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">CS 3350</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Software Engineering 2</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Building: NB 234</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Time: 11:30 AM - 1:20 PM</h6>
                </div>
            </div>
        </div>
    </div>
</div>