@page
@model UploadModel
@{
    ViewData["Title"] = "UploadViewPicture";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="picture">Upload Picture:</label>
        <input type="file" class="form-control-file" id="picture" name="picture">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

@if (Model.PicturePath != null)
{
    <h2>Uploaded Picture:</h2>
    <img src="@Model.PicturePath" alt="Uploaded Picture" width="300">
}
<div>
<a href="/Identity/ProfileTestPage/Profile">Go to Profile Page</a>
</div>