@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>User ID: @ViewData["UserID"]</p>

    <p>Full Name: @ViewData["FirstName"] @ViewData["LastName"]</p>
    <p>Account Type: @ViewData["StuOrProf"]</p>

    <div>
        <h3>Current Pages</h3>
        <div align="left">
            <ul>
                <li><a href="https://localhost:7177/" target="_blank">Index</a></li>
                <li><a href="https://localhost:7177/Identity/Calendar/Calendar" target="_blank">--Calendar--</a></li>
                <li><a href="https://localhost:7177/" target="_blank">Page</a></li>
            </ul>
        </div>
        <br />
        <div align="left">
            <ul>
                <li><a href="https://localhost:7177/Identity/UserManagement/UserInfoEdit" target="_blank">*Edit User Info*</a></li>
                <!-- *needs crud & other to make functional* -->
                <li><a href="https://localhost:7177/Identity/UploadPage/Upload" target="_blank">Image Upload</a></li>
                <li><a href="https://localhost:7177/Identity/Professor/ProfessorHome" target="_blank">Professor Home</a></li>
                <li><a href="https://localhost:7177/Identity/ProfileTestPage/Profile" target="_blank">Profile Test Page</a></li>                
                <li><a href="https://localhost:7177/Identity/Student/StudentHome" target="_blank">Student Home</a></li>
                <li><a href="https://localhost:7177/Identity/Student/RegisterForClass" target="_blank">--Class Registration--</a></li>
                <li><a href="https://localhost:7177/" target="_blank">Page</a></li>
            </ul>
         </div>
         <br />
         <div align="left">
            <ul>
                <li><a href="https://localhost:7177/Identity/CardPage/Cards" target="_blank">Class Dummy Cards</a></li>
                <li><a href="https://localhost:7177/Identity/PAddClasses/" target="_blank">--Classes Index--</a></li>
                <li><a href="https://localhost:7177/Identity/PAddClasses/Create" target="_blank">Create Classes</a></li>
                <li><a href="https://localhost:7177/Identity/PAddClasses/Delete" target="_blank">Delete Classes</a></li>
                <li><a href="https://localhost:7177/Identity/PAddClasses/Edit" target="_blank">Edit Classes</a></li>
                <li><a href="https://localhost:7177/Identity/AssignmentPages/" target="_blank">--Assignemnt Index--</a></li>
                <li><a href="https://localhost:7177/Identity/AssignmentPages/Create" target="_blank">--Create Assignemnt--</a></li>
                <li><a href="https://localhost:7177/Identity/AssignmentPages/Delete" target="_blank">Delete Assignemnt</a></li>
                <li><a href="https://localhost:7177/Identity/AssignmentPages/Details" target="_blank">Assignment Details</a></li>
                <li><a href="https://localhost:7177/Identity/AssignmentPages/Edit" target="_blank">Edit Assignemnt</a></li>
            </ul>
        </div>
    </div>
</div>
