<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment1Attempt4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assignment1Attempt4.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/StudentCards.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Go Getters</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


<nav class="sidebar">
    <ul class="sidebar-nav">
        <li class="nav-selector">
            <a href="https://localhost:7177/Identity/Account/Manage" target="_blank" class="nav-link">
                <i class="fa fa-fw fa-gear" style="color:white;"></i>
                <span class="link-text">Settings</span>
            </a>
        </li>
        <li class="nav-selector">
            <a href="https://localhost:7177/Identity/Calendar/Calendar" target="_blank" class="nav-link">
                <i class="fa fa-fw fa-calendar" style="color:white;"></i>
                <span class="link-text">Calendar</span>
            </a>
        </li>
        <li class="nav-selector">
                <a href="https://localhost:7177/Identity/PAddClasses/Create" target="_blank" class="nav-link">
                <i class="fa fa-fw fa-user-circle-o" style="color:white;"></i>
                <span class="link-text">Create Class</span>
            </a>

    </ul>
</nav>


    <!-- Add border-top class back to the footer if the team doesn't want the whole black sidebar -->
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - Assignment1Attempt4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>