:root {
    font-size: 15px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    margin: 0 0 60px 0;
    color: black;
    background-color: white;
    padding: 0;
}

h3 {
    padding-bottom: 9px;
}

.prof-dashboard-card.text-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: 5px;
    width: 67%;
    height: 30rem;
}

.sidebar {
    width: 4rem;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    transition: width 200ms ease;
    z-index: 2;
}

.sidebar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar:hover {
    width: 10rem;
}

.sidebar:hover .link-text {
    display: block;
    transition-delay: 1000ms;
}

.nav-selector {
    width: 100%;
    transition: opacity 500ms;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-link i {
    min-width: 1rem;
    margin: 0 0px;
    color: fuchsia;
    font-size: 25px;
}

.link-text {
    display: none;
    margin-left: 1rem;
    transition: opacity 0.5s;
}

.rightside-list-header {
    color: seagreen;
}

.rightside-list {
    width: auto;
    position: fixed;
    z-index: 1;
    top: 100px;
    right: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 10px;
    border: 0 solid black;
}

.assignment-todo-list-card {
    border: 1px solid black;
}