/***********************************************************
* This style will go on StudentCards.cshtml
* Currently being used on StudentHome.cshtml for testing
***********************************************************/

/********************* Production *********************/
:root {
    font-size: 16px;
}

body {
    margin: 0 0 60px 0;
    color: black;
    background-color: white;
    padding: 0;
}

h3 {
    padding-bottom: 9px;
}

.card {
    width: 100%;
}

.prof-dashboard-card.text-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: 5px;
    width: 67%;
}

/* Testgrounds */
.sidebar {
    width: 5rem;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    /******************************************************************************
    * If we want the black sidebar to stretch from top to bottom
    width: 5rem;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    ******************************************************************************
    /*********************************************************************************
    * If we want the top and bottom banners to show completely and the black sidebar stops short of the top and bottom
    width: 5rem;
    position: absolute;
    left: 0;
    top: 56px;
    bottom: 60px;
    background-color: black;
    *************************************************************************************/
}
