/***********************************************************
* This style will go on StudentCards.cshtml
* Currently being used on StudentHome.cshtml for testing
***********************************************************/

/********************* Production *********************/
/************ Elements Selectors ************/
body {
    margin-bottom: 60px;
}

h3 {
    padding-bottom: 7px;
}

/************ Class Selectors ************/
.card {
    width: 100%;
}

.prof-dashboard-card.text-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: 5px;
    width: 75%;
}

/* Testgrounds */
