@page
@model Assignment1Attempt4.Areas.Identity.Pages.Checkout.CancelModel
@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}


<div>
    <h1>Payment cancelled :(</h1>
</div>
