@page
@model Assignment1Attempt4.Areas.Identity.Pages.Checkout.SuccessModel
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
    <h1>Payment Success!</h1>
</div>
