@page
@inject SignInManager<Assignment1Attempt4User> SignInManager
@inject UserManager<Assignment1Attempt4User> UserManager
@model Assignment1Attempt4.Areas.Identity.Pages.Checkout.SuccessModel
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@* @if (SignInManager.IsSignedIn(User))
{

    if (@ViewData["StuOrProf"].Equals("Student"))
    { *@
        <div>
            <h1>Payment Success!</h1>
        </div>

@*     }
    else
    {
        <meta http-equiv="Refresh" content="0; url=https://localhost:7177/Identity/ProfClasses/ProfCards" />
    }

}
 *@